<div id="organicos-index-bienvenida-container" class="container-fluid text-center">
    <div>
        <h1 class="organicos-logo"><i class="fa fa-leaf"></i> Orgánicos</h1>
        <p>Tu plaza online de productos orgánicos.</p>
        <a href="#sec-servicios">Más información</a>
    </div>
</div>

<div class="container text-center organicos-index-section">
    <h2>Servicios</h2>
    <div class="row">
        <div id="organicos-index-servicios-c-container" class="col-md-12">
            <h3>Para consumidores:</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="organicos-index-services-c-container img-circle">
                        <i class="fa fa-shopping-basket fa-5x"></i>
                    </div>
                    <h4>Canastas</h4>
                    <p>Creamos combos con productos de temporada.</p>
                </div>
                <div class="col-md-4">
                    <div class="organicos-index-services-c-container img-circle">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <h4>Compra Online</h4>
                    <p>Paga desde la comodidad de tu casa.</p>
                </div>
                <div class="col-md-4">
                    <div class="organicos-index-services-c-container img-circle">
                        <i class="fa fa-map-marker fa-5x"></i>
                    </div>
                    <h4>Entrega Cercana</h4>
                    <p>Llevamos tus productos a centros de acopio cercanos.</p>
                </div>
            </div>
        </div>
        <div id="organicos-index-servicios-p-container" class="col-md-12">
            <h3>Para productores:</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="organicos-index-services-p-container img-circle">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <h4>Certificados</h4>
                    <p>Certificamos tus cultivos valorando el esfuerzo.</p>
                </div>
                <div class="col-md-4">
                    <div class="organicos-index-services-p-container img-circle">
                        <i class="fa fa-truck fa-5x"></i>
                    </div>
                    <h4>Distribución</h4>
                    <p>Nos encargamos de distribuir los productos solicitados.</p>
                </div>
                <div class="col-md-4">
                    <div class="organicos-index-services-p-container img-circle">
                        <i class="fa fa-line-chart fa-5x"></i>
                    </div>
                    <h4>Reportes de Venta</h4>
                    <p>Ten datos importantes para monitorear y mejorar tu negocio.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="organicos-index-productos-container" class="container-fluid text-center organicos-index-section">
    <h2>Productos</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/index-vegetales.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Vegetales</h3>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/static/img/index-frutas.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Frutas</h3>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/static/img/index-hongos.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Hongos</h3>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/static/img/index-tuberculos.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Tubérculos</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/index-lacteos.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Lácteos</h3>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/static/img/index-carnes.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Carnes</h3>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/static/img/index-granos.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Granos</h3>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/static/img/index-artesanal.jpg">
                <div class="organicos-index-productos-texto">
                    <h3>Artesanales</h3>
                </div>
            </div>
        </div>
    </div>
</div>