<div id="organicos-index-bienvenida-container" class="container-fluid text-center">
    <div>
        <h1 class="organicos-logo"><i class="fa fa-leaf"></i> Orgánicos</h1>
        <p>Tu plaza online de productos orgánicos.</p>
        <a href="#sec-servicios">Más información</a>
    </div>
</div>