<div class="container text-center organicos-index-section">
    <h2>Reporte Ofertas</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3 text-left"><b>Lista de Ofertas:</b></div>




            <div class="row">

                <div class="col-md-2">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Fecha Inicio"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>

                <div class="col-md-2">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Fecha Fin"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>

                <div class="col-md-2">
                    <select id="selProd" ng-model="selectedProd" placeholder="Seleccione un Producto"
                            ng-options="item.fields.nombre for item in allProducts">
                    </select>
                </div>
                <div class="col-md-1 text-right">
                    <button id="genRep" type="button" class="btn btn-success" ng-click="queryOfferItems(dt1,dt2,selectedProd.pk)">
                        Generar Reporte
                    </button>
                </div>

            </div>

        </div>
        <uib-alert ng-repeat="alert in alerts" type="[[alert.type]]" close="closeAlert($index)"> [[alert.msg]]</uib-alert>
    </div>
    <div class="row" ng-show="offerItemById.length <= 0">
        No hay elementos en la oferta
    </div>
    <div class="row" ng-show="offerItemById.length > 0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2">*Precio Total</div>
                    <div class="col-md-1 badge">[[getTotalPrice()]]</div>

                    <div class="col-md-2">*Precio Promedio</div>
                    <div class="col-md-1 badge">[[getTotalMean()]]</div>

                    <div class="col-md-2">*Precio Medio</div>
                    <div class="col-md-1 badge">[[getTotalMedian()]]</div>

                    <div class="col-md-2">*Precio STD</div>
                    <div class="col-md-1 badge">[[getTotalSTD()]]</div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-hover" ng-table="tableReporte">
                <thead class="thead-inverse">
                <tr class="text-center">
                    <th>Oferta #</th>
                    <th>Producto</th>
                    <th>Productor</th>
                    <th>Cantidad Ofertada</th>
                    <th>Cantidad Aprobada</th>
                    <th>Unidad</th>
                    <th>Precio Unidad</th>
                    <th>*Precio Total</th>
                    <th>Fecha Registro</th>
                    <th>Fecha Inicio Oferta</th>
                    <th>Fecha Fin Oferta</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" ng-repeat="item in $data">
                    <td>[[ item.idOferta]]</td>
                    <td id="nombreProd">[[ item.nombre]]</td>
                    <td>[[ item.nombreProductor]]</td>
                    <td>[[ item.cantidadOrigen ]]</td>
                    <td>[[ item.cantidadActual ]]</td>
                    <td>[[ item.unidad]]</td>
                    <td>$[[item.precio]]</td>
                    <td>
                        <div class="badge">$[[ item.precio * item.cantidadActual ]]</div>
                    </td>
                    <td>[[ item.fechaRegistro ]]</td>
                    <td>[[ item.fechaInicioOferta ]]</td>
                    <td>[[ item.fechaFinOferta ]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>Plazo confirmación oferta:</h3>
        <p id="offer-window-text">[[getDayById(window.dia)]] de [[window.horaInicio]]:00 a [[window.horaFin]]:00.</p>
        <button class="btn btn-default" data-toggle="modal" data-target="#modal-window" id="edit-offer-window">
        Modificar plazo de confirmación</button>
    </div>


    <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="modalWindow">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" ng-switch="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalWindow">Plazo de Confirmación</h3>
                </div>
                <form ng-submit="editWindow()">
                    <div class="modal-body text-left">
                        <div class="form-group">
                            <label for="dia">Día de la semana:</label>
                            <select class="form-control" id="dia" ng-model="window.dia"
                                    ng-options="d.id as d.name for d in diasList">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="horaInicio">Hora inicio:</label>
                            <input type="number" class="form-control" id="horaInicio"
                                   placeholder="HH" min="00" max="23" ng-model="window.horaInicio">
                        </div>
                        <div class="form-group">
                            <label for="horaFin">Hora fin:</label>
                            <input type="number" class="form-control" id="horaFin"
                                   placeholder="HH" min="00" max="23" ng-model="window.horaFin">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Guardar" id="submit-window">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal error -->
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
            </div>
            <div class="modal-body">
                <p ng-bind="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
</div>