<div id="organicos-index-productos-container" class="container-fluid text-center organicos-index-section">
    <h2>Listado de Productos</h2>

    <div class="container">
        <table ng-table="tableProductos">
            <tr class="row">
                <td class="col-md-3"  ng-repeat="item in $data">

                    <img id="product-photo" src="[[ item.fields.foto ]]"  data-toggle="modal" data-target="#modal-detail" ng-click="queryDetailProduct(item.pk)">
                    <div class="organicos-index-productos-texto" id="product-[[createIdByName(item.fields.nombre)]]">
                        <h4 id="product-name">Nombre : [[ item.fields.nombre ]]</h4>
                        <h4 id="product-price">Precio : [[ item.fields.precio ]]</h4>
                        <h4 id="product-unit">Unidad : [[ item.fields.unidad ]]</h4>
                        <button class="btn btn-default" data-toggle="modal" data-target="#modal-add" ng-click="getEditProduct(item.pk)"><i class="fa fa-pencil"></i></button>
                        <button id="but-delete-product-[[createIdByName(item.fields.nombre)]]" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete" ng-click="allowProductDelete(item.pk)"><i class="fa fa-trash"></i></button>
                        </br>
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <button class="btn btn-success" data-toggle="modal" data-target="#modal-add" ng-click="setMode('Agregar')" id="add-product-form">
        Agregar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modaldetail">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" ng-switch="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modaldetail" ng-show="mode=='Detalle'">Detalle de Producto</h3>
                    <form ng-repeat="item in detailProduct">
                        <div class="modal-body text-left">

                            <img src="[[ item.foto ]]" >

                            <div class="form-group">
                                <label for="categoria">Categoría :</label>
                                <input type="text" class="form-control" id="categoria"
                                       value="[[item.categoria ]]" ng-readonly="true">
                            </div>

                            <div class="form-group">
                                <label for="estado">Estado :</label>
                                <input type="text" class="form-control" id="estado"
                                       value="[[item.estado ]]" ng-readonly="true">
                            </div>

                            <div class="form-group">
                                <label for="nombre">Nombre :</label>
                                <input type="text" class="form-control" id="nombre"
                                       value="[[item.nombre ]]" ng-readonly="true">
                            </div>

                            <div class="form-group">
                                <label for="precio">Precio :</label>
                                <input type="text" class="form-control" id="precio"
                                       value="[[item.precio ]]" ng-readonly="true">
                            </div>

                            <div class="form-group">
                                <label for="fechaRegistro">Fecha Registro :</label>
                                <input type="datetime" class="form-control" id="fechaRegistro"
                                       value="[[item.fechaRegistro ]]" ng-readonly="true">
                            </div>

                            <div class="form-group">
                                <label for="calificacionPromedio">Calificación Promedio :</label>
                                <input type="number" class="form-control" id="calificacionPromedio"
                                       value="[[item.calificacionPromedio ]]" ng-readonly="true">
                            </div>

                            <div class="form-group">
                                <label for="unidad">Unidad :</label>
                                <input type="text" class="form-control" id="unidad"
                                       value="[[item.unidad ]]" ng-readonly="true">
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" ng-switch="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Agregar'">Agregar Producto</h3>
                    <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Actualizar'">Editar Producto</h3>
                </div>
                <form ng-submit="addEditProduct()">
                    <div class="modal-body text-left">
                        <div class="form-group">
                            <label for="idCategoria">Categoría:</label>
                            <select class="form-control" id="idCategoria" ng-model="newProduct.idCategoria"
                                    ng-options="item.pk as item.fields.nombre for item in allCategories">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre"
                                   placeholder="e.g. Papa" ng-model="newProduct.nombre">
                        </div>
                        <div>
                            <label for="file">Imagen:</label>
                            <input id="file" name="file" type="file" file />
                        </div>
                        <div class="form-group">
                            <label for="unidad">Unidad:</label>
                            <input type="text" class="form-control" id="unidad"
                                   placeholder="e.g. Kg" ng-model="newProduct.unidad" ng-disabled="basketSelected">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio unificado por unidad:</label>
                            <input type="number" class="form-control" id="precio"
                                   placeholder="0" ng-model="newProduct.precio">
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <select class="form-control" id="estado" ng-model="newProduct.estado"
                                    ng-options="estado.id as estado.name for estado in estadoList"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="[[ mode ]]" id="submit-product"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title organicos-encode-sans" id="modalDelete">Eliminar Producto</h3>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que quieres eliminar este producto de la plataforma?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#modal-delete">
                    Cancelar
                </button>
                <button id="btn-modal-delete" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete"
                        ng-click="deleteProductById()">Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error -->
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
            </div>
            <div class="modal-body">
                <p ng-bind="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
</div>