<div class="container text-center organicos-index-section">
    <h2>Lista Productores</h2>
    <div class="row" ng-show="allProducers.length <= 0">
        No hay productores
    </div>
    <div class="row" ng-show="allProducers.length > 0">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-success" id="addProducer" value="Agregar Productor"
                    ng-click="showCreate();">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Productor
            </button>
        </div>
        <div class="col-md-12">
            <br>
        </div>
        <div class="col-md-12">
            <div class="col-md-6"
                 ng-repeat="item in allProducers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-default btn-sm" id="[[ 'detail'+item.pk ]]"
                                ng-click="showDetail(item.fields);">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                        - <span>[[ item.fields.nombre ]]</span> -
                        <img width="32px" src="/static/img/icon-certified.png"/>[[ item.fields.certificacion ]]
                    </div>
                    <div class="panel-body">
                        <a ng-click="showDetail(item.fields);">
                            <img src="[[ item.fields.foto ]]" width="100%">
                        </a>
                    </div>
                    <div class="panel-footer">[[ item.fields.twitter ]] -</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination"
                            items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="producer" tabindex="-1" role="dialog" aria-labelledby="producerLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="producerLabel">Productor</h4>
                        <div class="col-md-12 text-center" ng-show="message.length > 0">
                            <span class="badge bg-success" id="message">[[message]]</span>
                        </div>
                    </div>
                    <div class="modal-body text-left">
                        <div style="background-image:url([[producer.foto]]); background-repeat: no-repeat; background-attachment: scroll;background-position: center top;background-size: cover;">
                            <div style="background-color: #ffffff;opacity: 0.9;filter: alpha(opacity=90);">
                                <div style="opacity: .99;filter: alpha(opacity=99);">
                                    <form ng-submit="createProducer()">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" class="form-control" id="nombre"
                                                           placeholder="Nombre"
                                                           ng-model="producer.nombre"
                                                           required maxlength="20">
                                                </div>
                                                <div class="form-group">
                                                    <label for="telefono">Teléfono</label>
                                                    <input type="text" class="form-control" id="telefono"
                                                           placeholder="Teléfono"
                                                           ng-model="producer.telefono" required maxlength="10">
                                                </div>
                                                <div class="form-group">
                                                    <label for="celular">Celular</label>
                                                    <input type="text" class="form-control" id="celular"
                                                           placeholder="Celular"
                                                           ng-model="producer.celular" required maxlength="10">
                                                </div>
                                                <div class="form-group">
                                                    <label for="direccion">Dirección</label>
                                                    <input type="text" class="form-control" id="direccion"
                                                           placeholder="Dirección"
                                                           ng-model="producer.direccion"
                                                           required maxlength="20">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="certificacion">Certificación</label>
                                                    <input type="text" class="form-control" id="certificacion"
                                                           placeholder="Certificación"
                                                           ng-model="producer.certificacion"
                                                           required maxlength="20">
                                                </div>
                                                <div class="form-group">
                                                    <label for="twitter">Twitter</label>
                                                    <input type="text" class="form-control" id="twitter"
                                                           placeholder="Twitter"
                                                           ng-model="producer.twitter"
                                                           required maxlength="15">
                                                </div>
                                                <div class="form-group">
                                                    <label for="twitter">Correo Electronico</label>
                                                    <input type="email" class="form-control" id="twitter"
                                                           placeholder="Correo Electrónico"
                                                           ng-model="producer.correoElectronico"
                                                           required maxlength="50">
                                                </div>
                                                <div class="form-group" ng-show="producer.pk == 0">
                                                    <label for="foto">Foto</label>
                                                    <input id="foto" type="file" accept="image/*" image="fotoCompressed"
                                                           resize-max-height="480" resize-max-width="640"
                                                           resize-quality="0.3"
                                                           resize-type="image/jpg" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="fechaRegistro">Fecha Registro: [[ producer.fechaRegistro
                                                        ]]</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-default"
                                                        id="cancel" data-dismiss="modal">Cancelar
                                                </button>
                                                <button type="submit" class="btn btn-success"
                                                        id="createProducer" ng-show="producer.pk == 0">Registrar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>