<div class="container text-center organicos-index-section">
    <h2>Consultar Mis Ofertas</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3 text-left"><b>Lista de Ofertas:</b></div>
            <div class="col-md-7">
                <select id="idOfertasProductor" ng-model="selectedOffer"
                        ng-options="item.fields.fechaInicio + ' -> ' + item.fields.fechaFin for item in allOffers">
                </select>
                <span ng-show="selectedOffer.pk > 0">Productos ofrecidos desde [[selectedOffer.fields.fechaInicio]] hasta
                    [[selectedOffer.fields.fechaFin]]
                </span>
            </div>
            <div class="col-md-2 text-right">
                <button id="btnVerProductosOferta" type="button" class="btn btn-default" ng-click="queryOfferItemsByOffer(selectedOffer.pk)">Ver
                    Productos Oferta
                </button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="offerItemById.length <= 0">
        No hay elementos en la oferta
    </div>
    <div class="row" ng-show="offerItemById.length > 0">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr class="text-center">
                    <th>Producto</th>
                    <th>Imagen</th>
                    <th>Cantidad Ofertada</th>
                    <th>Cantidad Aprobada</th>
                    <th>Unidad</th>
                    <th>Precio Unidad </th>
                    <th>Fecha Registro</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="tbodyItemsOferta">
                <tr class="text-center" ng-repeat="item in offerItemById">
                    <td>[[ queryProductById(item.fields.idProducto).nombre]]</td>
                                        <td>
                        <img src="[[ queryProductById(item.fields.idProducto).foto ]]" height="42" width="42">
                    </td>
                    <td>[[ item.fields.cantidadOrigen ]]</td>
                    <td>[[ item.fields.cantidadActual ]]</td>
                    <td>[[ queryProductById(item.fields.idProducto).unidad]]</td>
                    <td>$[[ item.fields.precio ]]</td>
                    <td>[[ item.fields.fechaRegistro ]]</td>
                    <th>
                        <button type="button" class="btn btn-danger btn" data-toggle="modal" data-target="#modal-delete"
                                ng-click="allowOfferItemDelete(item.pk)" ng-disabled="!isCurrentOfferEditable">
                            Eliminar
                        </button>
                        <button type="button" class="btn btn-default btn" ng-click="updateOfferItemById(item.pk)"
                                data-toggle="modal" data-target="#modal-add" ng-disabled="!isCurrentOfferEditable">
                            Editar
                        </button>
                    </th>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title organicos-encode-sans" id="modalDelete">Eliminar Item</h3>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro que quieres eliminar este ítem de tu oferta?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-delete">
                                        Cancelar
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal-delete"
                                            ng-click="deleteOfferItemById()">Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="isCurrentOfferEditable">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add" ng-click="setMode('Agregar')">
            Agregar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" ng-switch="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Agregar'">Agregar Item</h3>
                        <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Actualizar'">Editar Item</h3>
                    </div>
                    <form ng-submit="addOfferItem()">
                        <div class="modal-body text-left">
                            <div class="form-group">
                                <label for="producto">Producto:</label>
                                <select class="form-control" id="producto" ng-model="newOfferItem.producto"
                                    ng-options="item.fields.nombre for item in allProducts" ng-hide="mode=='Actualizar'">
                                </select>
                                <input type="text" class="form-control" id="producto1" ng-show="mode=='Actualizar'"
                                       placeholder="" ng-model="newOfferItem.nombre" disabled="true">
                            </div>
                            <div class="form-group">
                                <label for="cantidadOrigen">Cantidad</label>
                                <input type="number" class="form-control" id="cantidadOrigen"
                                       placeholder="0" ng-model="newOfferItem.cantidadOrigen">
                            </div>
                            <div class="form-group">
                                <label for="precio">Precio por unidad ([[queryProductById(newOfferItem.producto.pk).unidad]]):</label>
                                <input type="number" class="form-control" id="precio"
                                       placeholder="0" ng-model="newOfferItem.precio">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input id="btnModificarItemOferta" type="submit" class="btn btn-success" value="[[ mode ]]">
                        </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal error -->
    <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
                </div>
                <div class="modal-body">
                    <p ng-bind="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div ng-if="offerWindow && isLatestOfferSelected" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 organicos-border">
            <h3 class="organicos-encode-sans">Confirmación de Oferta</h3>
            <div ng-show="latestOfferState==-1">
                <p>La oferta de productos ha finalizado. Si estás seguro de hacer la oferta selecciona la opción
                    "Confirmar",
                    de lo contrario da clic en "Retirar" para eliminar todos los productos de la oferta de la
                    semana.</p>
                <input type="button" ng-click='confirmOffer()' class="btn btn-success" value="Confirmar">
                <input type="button" ng-click='rejectOffer()' class="btn btn-danger" value="Retirar">
            </div>
            <div ng-show="latestOfferState==0">
                <p>Tus productos han sido retirados de la oferta de la próxima semana.</p>
            </div>

            <div ng-show="latestOfferState==1">
                <p>¡Felicidades! Tus productos han sido confirmados para la oferta de la próxima semana.</p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>