<div class="container text-center organicos-index-section" xmlns="http://www.w3.org/1999/html">
    <h2>Pedido de la Semana</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr class="text-center" >
                    <th>Pedido #  <br>[[ allOrders[0].pk]]</th>
                    <th ng-if="[[ allOrders[0].fields.estado  ]]==0">Estado <br>Pendiente</th>
                    <th ng-if="[[ allOrders[0].fields.estado  ]]==1">Estado <br>Comprado</th>
                    <th>Precio Total <br> $[[ allOrders[0].fields.precioTotal ]]</th>
                    <th>Fecha Pedido <br> [[allOrders[0].fields.fechaRegistro | date:"MM/dd/yyyy h:mma"]]</th>
                    <th  ng-hide="franjas.length<=0 || allOrders[0].fields.estado==1">

                        <div class="col-md-6">
                            <select class="form-control" id="dia" ng-model="diaSeleccionado"
                                    ng-options="item for item in diasDisponibles" ng-change="actualizarFranjasMostrar(diaSeleccionado)">
                                <option class="placeholder" selected disabled value="">Selecciona el día de entrega</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="dia" ng-model="franjaSeleccionada"
                                    ng-options="item.franja for item in franjasMostrar" ng-change="validarCampos()">
                                <option class="placeholder" selected disabled value="">Selecciona la hora de entrega</option>
                            </select>
                        </div>

                    </th>

                    <th ng-hide="franjas.length > 0 ">
                        <p class="text-left">Actualmente no hay disponibilidad de días para solicitar el pedido.</p>
                    </th>
                    <th ng-if="[[ allOrders[0].fields.estado  ]]==0">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-buy" ng-disabled="!camposValidos">
                            Comprar
                        </button></th>

            </table>
            <table class="table table-hover" ng-show="detailOrder.length > 0" >
                <thead class="thead-inverse">
                <tr class="text-left">
                    <th>Item #</th>
                    <th>Producto</th>
                    <th>Imagen</th>
                    <th>Unidad</th>
                    <th>Precio Unidad</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                </tr>
                </thead>
                <tbody id="tbodyItemsPedido">
                <tr class="text-left"  ng-repeat="item in detailOrder" >
                    <td>[[ item.id ]]</td>
                    <td>[[ item.nombre ]]</td>
                    <td>
                        <img src="[[ item.foto ]]" class="img-responsive img-circle left-block" height="42" width="42">
                    </td>
                    <td>[[ item.unidad ]]</td>
                    <td>$[[ item.precioUnidad ]]</td>
                    <td>[[ item.cantidad ]]</td>
                    <td>$[[ item.precioTotal ]]</td>
                    <th>
                        <button type="button" class="btn btn-danger" ng-click="deleteOrderItemById(item.id)" ng-show="allOrders[0].fields.estado != 1">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-add" ng-click="updateOrderItemById(item.id)" ng-show="allOrders[0].fields.estado != 1">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button id="btDet" type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-detail" ng-click="queryDetailProduct(item.idProducto)">
                            <i class="fa fa-search"></i>
                        </button>
                    </th>
                </tr>
                </tbody>
            </table>
            <p class="text-left" ng-show="detailOrder.length < 1">Todavía no tienes productos en tu pedido, anímate y agrega el primero. </p>
        </div>
    </div>
    <div>
        <button id="btAgregar" class="btn btn-success" data-toggle="modal" data-target="#modal-add" ng-click="setMode('Agregar')" ng-show="allOrders[0].fields.estado != 1">
            Agregar
        </button>

        <!-- Modal -->

        <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modaldetail">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" ng-switch="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title organicos-encode-sans" id="modaldetail" ng-show="mode=='Detalle'">Detalle de Producto</h3>
                        <form ng-repeat="item in detailProduct">
                            <div class="modal-body text-left">

                                <img src="[[ item.foto ]]" class="img-responsive img-rounded center-block" height="20rem" width="50%">

                                <div class="form-group">
                                    <label for="categoria">Categoría :</label>
                                    <input type="text" class="form-control" id="categoria"
                                           value="[[item.categoria]]" ng-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="estado">Estado :</label>
                                    <input type="text" class="form-control" id="estado"
                                           value="[[item.estado ]]" ng-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="nombre">Nombre :</label>
                                    <input type="text" class="form-control" id="nombre"
                                           value="[[item.nombre ]]" ng-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="precio">Precio :</label>
                                    <input type="text" class="form-control" id="precio"
                                           value="$[[item.precio ]]" ng-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="fechaRegistro">Fecha Registro :</label>
                                    <input type="datetime" class="form-control" id="fechaRegistro"
                                           value="[[item.fechaRegistro ]]" ng-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="calificacionPromedio">Calificación Promedio :</label>
                                    <input type="number" class="form-control" id="calificacionPromedio"
                                           value="[[item.calificacionPromedio ]]" ng-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="unidad">Unidad :</label>
                                    <input type="text" class="form-control" id="unidad"
                                           value="[[item.unidad ]]" ng-readonly="true">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" ng-switch="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Agregar'">Agregar Item</h3>
                        <h3 class="modal-title organicos-encode-sans" id="modalAdd2" ng-show="mode=='Actualizar'">Editar Item</h3>
                    </div>
                    <form name="form" ng-submit="addOrderItem()">
                        <div class="modal-body text-left">
                            <div class="table-responsive" ng-show="mode=='Agregar'">
                                <h4>Presiona el producto que quieras seleccionar.</h4>
                                <table ng-table="tableFilter"  show-filter="true" id="tabla-prod">
                                    <tr ng-repeat="a in $data" align="center" ng-click="setNewOrderItem(a)" id="[[a.nombre]]">

                                        <td data-title="'Ver Detalle'">

                                            <img src="[[ a.foto ]]" class="img-responsive img-circle center-block" height="80" width="80" align="center" ng-click="queryDetailProductCanasta(a.id)">

                                        </td>

                                        <td data-title="'Nombre'" align="center" filter="{ 'nombre': 'text' }" id="filterName">
                                            [[ a.nombre ]]
                                        </td>

                                        <td data-title="'Categoria'" align="center" filter="{ 'idCategoria': 'text' }">
                                            [[ a.idCategoria ]]
                                        </td>
                                        <td data-title="'Precio'" align="center" filter="{ 'precio': 'text' }">
                                            $[[ a.precio ]]
                                        </td>
                                        <td data-title="'Unidad'" align="center" filter="{ 'unidad': 'text' }">
                                            [[ a.unidad ]]
                                        </td>
                                        <td data-title="'Cantidad Disponible'" align="center" filter="{ 'cantidad': 'text' }">
                                            [[ a.cantidad ]]
                                        </td>
                                        <td data-title="'Calificacion Promedio'" align="center" filter="{ 'calificacionPromedio': 'text' }">
                                            [[ a.calificacionPromedio ]]
                                        </td>

                                    </tr>
                                </table>

                            </div>
                            <div class="form-group">
                                <label for="producto" ng-show="mode=='Agregar'">Producto Seleccionado:</label>
                                <input type="text" class="form-control" id="producto" ng-show="mode=='Agregar'"
                                       placeholder="" ng-model="newOrderItem.nombreProducto" disabled="true">
                                <label for="producto" ng-show="mode=='Actualizar'">Producto:</label>
                                <input type="text" class="form-control" id="producto1" ng-show="mode=='Actualizar'"
                                       placeholder="" ng-model="newOrderItem.nombreProducto" disabled="true">
                            </div>
                            <div class="form-group" ng-show="mode=='Actualizar'">
                                <label for="cantidad">Unidad</label>s
                                <input type="text" class="form-control" id="unidad"
                                       placeholder="unidad" ng-model="newOrderItem.unidad" disabled="true">
                            </div>
                            <div class="form-group" ng-show="mode=='Actualizar'">
                                <label for="cantidad">Precio</label>
                                <input type="number" class="form-control" id="precio"
                                       placeholder="0" ng-model="newOrderItem.precio" disabled="true">
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad"
                                       placeholder="0" ng-model="newOrderItem.cantidad">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input id="btnModalAdd" type="submit" class="btn btn-success" value="[[ mode ]]">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-canasta" tabindex="-1" role="dialog" aria-labelledby="modalcanasta">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header" ng-switch="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title organicos-encode-sans" id="modaldetailcanasta">Detalle del Producto</h3>
                    </div>

                    <form ng-repeat="itemCast in detailProductCanasta">
                        <div class="modal-body text-left">

                            <table>
                                <tr>
                                    <div id="organicos-img-big">
                                        <img src="[[ itemCast.foto ]]">
                                    </div>
                                </tr>
                                <tr class="row">

                                    <td class="col-md-3">
                                        <div class="form-group">
                                            <br>
                                            <label for="estado">Estado :</label>
                                            <input type="text" class="form-control" id="estado"
                                                   value="[[itemCast.estado ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="nombre">Nombre :</label>
                                            <input type="text" class="form-control" id="nombre"
                                                   value="[[itemCast.nombre ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="precio">Precio :</label>
                                            <input type="text" class="form-control" id="precio"
                                                   value="[[itemCast.precio ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="fechaRegistro">Fecha Registro :</label>
                                            <input type="datetime" class="form-control" id="fechaRegistro"
                                                   value="[[itemCast.fechaRegistro ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="calificacionPromedio">Calificación Promedio :</label>
                                            <input type="number" class="form-control" id="calificacionPromedio"
                                                   value="[[itemCast.calificacionPromedio ]]" ng-readonly="true">
                                        </div>
                                    </td>

                                    <td ng-show="itemCast.categoria == 'Canasta'">
                                        <h4>Productos de la Canasta :</h4>
                                        <table ng-table="tableFilterCanasta"  show-filter="true" id="tabla-can" class="table table-striped" ng-show="allItemProductsCanasta.length > 0">
                                            <tr ng-repeat="c in $data" align="center"  id="[[c.nombre]]" >
                                                <td class="col-sm-2">
                                                    <div id="organicos-img-small">
                                                        <img src="[[ c.foto ]]" class="img-thumbnail" alt="[[ c.nombre ]]" width="50" height="50" align="center"></div>
                                                </td>
                                                <td data-title="'Nombre'" align="center" filter="{ 'nombre': 'text' }" id="filterName">
                                                    [[ c.nombre ]]
                                                </td>
                                                <td data-title="'Categoria'" align="center" filter="{ 'idCategoria': 'text' }">
                                                    [[ c.idCategoria ]]
                                                </td>
                                                <td data-title="'Precio Producto'" align="center" filter="{ 'precio': 'text' }">
                                                    $[[ c.precio ]]
                                                </td>
                                                <td data-title="'Unidad'" align="center" filter="{ 'unidad': 'text' }">
                                                    [[ c.unidad ]]
                                                </td>
                                                <td data-title="'Cantidad Disponible'" align="center" filter="{ 'cantidad': 'text' }">
                                                    [[ c.cantidad ]]
                                                </td>
                                                <td data-title="'Calificacion Promedio'" align="center" filter="{ 'calificacionPromedio': 'text' }">
                                                    [[ c.calificacionPromedio ]]
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="text-center" ng-show="allItemProductsCanasta.length < 1">La canasta no tiene productos. </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>






    <!-- Modal error -->
    <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
                </div>
                <div class="modal-body">
                    <p ng-bind="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 organicos-border">

            <div ng-show="allOrders[0].fields.estado==0">
                <p ng-show="errorCompraDesc.length < 1" >Si deseas comprar tu pedido y recibir tus productos, da clic en la opción "Comprar" y procede al pago de los mismos.</p>
                <div ng-show="errorCompra" ng-repeat="error in errorCompraDesc">
                    <p>[[ error.desc ]]</p>
                </div>
                <p ng-show="!camposValidos"><b style="font-size: 10px">Para poder efectuar la compra debes seleccionar una franja de entrega.</b></p>
                <!-- Modal -->
                <div class="modal fade" id="modal-buy" tabindex="-1" role="dialog" aria-labelledby="modalBuy">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title organicos-encode-sans" id="modalBuy">Comprar Pedido</h3>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro que quieres proceder con el pago de tu pedido?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-delete"
                                        ng-click="buyOrder()">Pagar
                                </button>
                                <button class="btn btn-default" data-toggle="modal" data-target="#modal-delete">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="allOrders[0].fields.estado==1">
                <p>¡Felicidades! Tus productos han sido comprados y serán entregados el día [[franjaSeleccionada.dia]] en la franja [[franjaSeleccionada.franja]].</p>
            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
    <div>
    </div>
</div>