<div class="container text-center organicos-index-section" xmlns="http://www.w3.org/1999/html">
    <h2>Reporte de la oferta de la semana</h2>
    <div class="row" ng-show="allProducts.length <= 0">
        No hay elementos en la oferta
    </div>
    <div class="row" ng-show="allProducts.length > 0">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr class="text-center">
                    <th>Producto</th>
                    <th>Unidad</th>
                    <th>Precio por unidad [Pesos]</th>
                    <th>Cantidad Ofertada</th>
                    <th>Subtotal Ofertado</th>
                    <th>Cantidad Disponible</th>
                    <th>Subtotal Disponible</th>
                    <th>Cantidad Solicitado</th>
                    <th>Subtotal Solicitado</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" ng-repeat="item in allProducts">
                    <td>[[ item.producto]]</td>
                    <td>[[ item.unidad ]]</td>
                    <td>$[[ item.precio_unidad ]]</td>
                    <td>[[ item.cantidad_ofertada ]]</td>
                    <td>$[[ item.subtotal_ofertado ]]</td>
                    <td>[[ item.cantidad_disponible ]]</td>
                    <td>$[[ item.subtotal_disponible ]]</td>
                    <td>[[ item.cantidad_solicitada ]]</td>
                    <td>$[[ item.subtotal_solicitado ]]</td>
                </tr>
                <tr class="text-center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total ofertado: </b></td>
                    <td><b>$[[totales.ofertado]]</b></td>
                    <td><b>Total disponible: </b></td>
                    <td><b>$[[ totales.disponible ]]</b></td>
                    <td><b>Total solicitado: </b></td>
                    <td><b>$[[ totales.solicitado ]]</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>