<div id="organicos-index-productos-container" class="container-fluid text-center organicos-index-section">
    <h2>Listado de Canastas</h2>

    <div class="container">
        <table ng-table="tableProductos">
            <tr class="row">
                <td class="col-md-3"  ng-repeat="item in $data">

                    <img id="product-photo" src="[[ item.fields.foto ]]"  data-toggle="modal" data-target="#modal-detail" ng-click="queryDetailProduct(item.pk)">
                    <div class="organicos-index-productos-texto" id="product-[[createIdByName(item.fields.nombre)]]">
                        <h4 id="product-name">Nombre : [[ item.fields.nombre ]]</h4>
                        <h4 id="product-price">Precio : [[ item.fields.precio ]]</h4>
                        <button class="btn btn-default" data-toggle="modal" data-target="#modal-add" ng-click="getEditProduct(item.pk)"><i class="fa fa-pencil"></i></button>
                        <button id="but-delete-product-[[createIdByName(item.fields.nombre)]]" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete" ng-click="allowBasketDelete(item.pk)"><i class="fa fa-trash"></i></button>
                        </br>
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <button class="btn btn-success" data-toggle="modal" data-target="#modal-add" ng-click="setMode('Agregar')" id="add-basket-form">
        Agregar
    </button>

    <!-- Modal -->

    <div class="modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modaldetail">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" ng-switch="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modaldetail" ng-show="mode=='Detalle'">Detalle de Producto</h3>

                    <form ng-repeat="item in detailProduct">
                        <div class="modal-body text-left">

                            <table>
                                <tr>
                                    <img src="[[ item.foto ]]" >
                                </tr>
                                <tr class="row">

                                    <td class="col-md-3">
                                        <div class="form-group">
                                            <br>
                                            <label for="estado">Estado :</label>
                                            <input type="text" class="form-control" id="estado"
                                                   value="[[item.estado ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="nombre">Nombre :</label>
                                            <input type="text" class="form-control" id="nombre"
                                                   value="[[item.nombre ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="precio">Precio :</label>
                                            <input type="text" class="form-control" id="precio"
                                                   value="[[item.precio ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="fechaRegistro">Fecha Registro :</label>
                                            <input type="datetime" class="form-control" id="fechaRegistro"
                                                   value="[[item.fechaRegistro ]]" ng-readonly="true">
                                        </div>

                                        <div class="form-group">
                                            <label for="calificacionPromedio">Calificación Promedio :</label>
                                            <input type="number" class="form-control" id="calificacionPromedio"
                                                   value="[[item.calificacionPromedio ]]" ng-readonly="true">
                                        </div>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-item" ng-click="setSelectedBasket(item.id)" id="but-product-[[createIdByName(item.nombre)]]">Agregar Producto</button>
                                    </td>

                                    <td>
                                        <h4>Productos de la Canasta :</h4>
                                        <table ng-table="tableFilter"  show-filter="true" id="tabla-prod" class="table table-striped" ng-show="allItemProducts.length > 0">
                                            <tr ng-repeat="a in $data" align="center"  id="[[a.nombre]]" >
                                                <td class="col-sm-2">
                                                    <div id="organicos-img-small">
                                                        <img src="[[ a.foto ]]" class="img-thumbnail" alt="[[ a.nombre ]]" width="50" height="50" align="center"></div>
                                                </td>
                                                <td data-title="'Nombre'" align="center" filter="{ 'nombre': 'text' }" id="filterName">
                                                    [[ a.nombre ]]
                                                </td>
                                                <td data-title="'Categoria'" align="center" filter="{ 'idCategoria': 'text' }">
                                                    [[ a.idCategoria ]]
                                                </td>
                                                <td data-title="'Precio Producto'" align="center" filter="{ 'precio': 'text' }">
                                                    $[[ a.precio ]]
                                                </td>
                                                <td data-title="'Unidad'" align="center" filter="{ 'unidad': 'text' }">
                                                    [[ a.unidad ]]
                                                </td>
                                                <td data-title="'Cantidad Disponible'" align="center" filter="{ 'cantidad': 'text' }">
                                                    [[ a.cantidad ]]
                                                </td>
                                                <td data-title="'Calificacion Promedio'" align="center" filter="{ 'calificacionPromedio': 'text' }">
                                                    [[ a.calificacionPromedio ]]
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="text-center" ng-show="allItemProducts.length < 1">Todavía no tienes productos en tu canasta, anímate y agrega el primero. </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" ng-switch="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Agregar'">Agregar Canasta</h3>
                    <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Actualizar'">Editar Producto</h3>
                </div>
                <form ng-submit="addEditProduct()">
                    <div class="modal-body text-left">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre"
                                   placeholder="e.g. Papa" ng-model="newProduct.nombre">
                        </div>
                        <div>
                            <label for="file">Imagen:</label>
                            <input id="file" name="file" type="file" file />
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio de la canasta:</label>
                            <input type="number" class="form-control" id="precio"
                                   placeholder="0" ng-model="newProduct.precio">
                        </div>
                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <select class="form-control" id="estado" ng-model="newProduct.estado"
                                    ng-options="estado.id as estado.name for estado in estadoList"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="[[ mode ]]" id="submit-basket"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="modalAddItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" ng-switch="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Agregar'">Agregar Item</h3>
                <h3 class="modal-title organicos-encode-sans" id="modalAdd" ng-show="mode=='Actualizar'">Editar Item</h3>
            </div>
            <form ng-submit="addBasketItem()">
                <div class="modal-body text-left">
                    <div class="form-group">
                        <label for="producto">Producto:</label>
                        <select class="form-control" id="producto" ng-model="newBasketItem.producto"
                                ng-options="item.fields.nombre + ' - ($' + item.fields.precio + ')' for item in allProducts" ng-hide="mode=='Actualizar'">
                        </select>
                        <input type="text" class="form-control" id="producto1" ng-show="mode=='Actualizar'"
                               placeholder="" ng-model="newBasketItem.nombre" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad por unidad ([[newBasketItem.producto.fields.unidad]]):</label>
                        <input type="number" class="form-control" id="cantidad"
                               placeholder="0" ng-model="newBasketItem.cantidad">
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnAddBasketItem" type="submit" class="btn btn-success" value="Agregar" >
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title organicos-encode-sans" id="modalDelete">Eliminar Canasta</h3>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que quieres eliminar esta canasta de la plataforma?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#modal-delete">
                    Cancelar
                </button>
                <button id="btn-modal-delete" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete"
                        ng-click="deleteBasketById()">Eliminar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error -->
<div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
            </div>
            <div class="modal-body">
                <p ng-bind="errorMessage"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
</div>