<div class="container text-center organicos-index-section">
    <h2>Defina las franjas de la siguiente semana:</h2>
    <div class="row" ng-show="franjasActuales.length <= 0">
        No hay franjas definidas para la siguiente semana.
    </div>
    <div class="row" ng-show="franjasActuales.length > 0">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr class="text-center">
                    <th>Id</th>
                    <th>Día</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                </tr>
                </thead>
                <tbody id="tbodyFranjas">
                <tr class="text-center" ng-repeat="franja in franjasActuales">
                    <td>[[ franja.id ]]</td>
                    <td>[[ franja.nombreDia ]]</td>
                    <td>[[ franja.inicioFranja ]]</td>
                    <td>[[ franja.finFranja ]]</td>
                    <th>
                        <button type="button" class="btn btn-danger btn" data-toggle="modal" data-target="#modal-delete"
                                ng-click="setFranjaBorrar(franja.id)">
                            Eliminar
                        </button>
                    </th>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modalDelete">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title organicos-encode-sans" id="modalDelete">Eliminar Item</h3>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro que quieres eliminar esta franja?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-delete">
                                        Cancelar
                                    </button>
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modal-delete"
                                            ng-click="deleteFranja()">Eliminar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button id="btnAgregar" class="btn btn-success" data-toggle="modal" data-target="#modal-add">
            Agregar Franja
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="modalAdd">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" ng-switch="">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title organicos-encode-sans" id="modalAdd">Agregar Item</h3>
                    </div>
                    <form ng-submit="addFranja()">
                        <div class="modal-body text-left">
                            <div class="form-group">
                                <label for="idDia">Dia:</label>
                                <select class="form-control" id="idDia" ng-model="nuevaFranja.numeroDia" >
                                    <option value="0">Lunes</option>
                                    <option value="1">Martes</option>
                                    <option value="2">Miércoles</option>
                                    <option value="3">Jueves</option>
                                    <option value="4">Viernes</option>
                                    <option value="5">Sabado</option>
                                    <option value="6">Domingo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="idHoraInicio">Hora Inicio:</label>
                                <select class="form-control" id="idHoraInicio" ng-model="nuevaFranja.inicioFranjaInt" >
                                    <option value="0">00:00</option>
                                    <option value="1">01:00</option>
                                    <option value="2">02:00</option>
                                    <option value="3">03:00</option>
                                    <option value="4">04:00</option>
                                    <option value="5">05:00</option>
                                    <option value="6">06:00</option>
                                    <option value="7">07:00</option>
                                    <option value="8">08:00</option>
                                    <option value="9">09:00</option>
                                    <option value="10">10:00</option>
                                    <option value="11">11:00</option>
                                    <option value="12">12:00</option>
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                    <option value="17">17:00</option>
                                    <option value="18">18:00</option>
                                    <option value="19">19:00</option>
                                    <option value="20">20:00</option>
                                    <option value="21">21:00</option>
                                    <option value="22">22:00</option>
                                    <option value="23">23:00</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="idHoraFin">Hora Fin:</label>
                                <select class="form-control" id="idHoraFin" ng-model="nuevaFranja.finFranjaInt" >
                                    <option value="0">00:00</option>
                                    <option value="1">01:00</option>
                                    <option value="2">02:00</option>
                                    <option value="3">03:00</option>
                                    <option value="4">04:00</option>
                                    <option value="5">05:00</option>
                                    <option value="6">06:00</option>
                                    <option value="7">07:00</option>
                                    <option value="8">08:00</option>
                                    <option value="9">09:00</option>
                                    <option value="10">10:00</option>
                                    <option value="11">11:00</option>
                                    <option value="12">12:00</option>
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                    <option value="17">17:00</option>
                                    <option value="18">18:00</option>
                                    <option value="19">19:00</option>
                                    <option value="20">20:00</option>
                                    <option value="21">21:00</option>
                                    <option value="22">22:00</option>
                                    <option value="23">23:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input id="btnAgregarFranja" type="submit" class="btn btn-success" value="Agregar">
                        </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal error -->
    <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
                </div>
                <div class="modal-body">
                    <p ng-bind="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>