<div class="container text-center organicos-index-section">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-left">
        <form name="formRegister" ng-submit="addConsumer()">
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="text" class="form-control" id="nombres"
                   placeholder="e.g. Luisa" ng-model="newConsumer.nombres">
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos"
                   placeholder="e.g. Pérez" ng-model="newConsumer.apellidos">
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" id="telefono"
                   placeholder="e.g. 200 0000" maxlength="10" ng-model="newConsumer.telefono">
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion"
                   placeholder="e.g. Cra 15 # 10 - 10" ng-model="newConsumer.direccion">
        </div>
        <div>
            <label for="file">Imagen:</label>
            <input id="file" name="file" type="file" file />
        </div>
        <div class="form-group">
            <label for="correoElectronico">Correo electrónico:</label>
            <input type="email" name="correoElectronico" class="form-control" id="correoElectronico"
                   placeholder="e.g. luisa-perez@ejemplo.com" ng-model="newConsumer.correoElectronico">
        </div>
        <div class="form-group">
            <label for="contrasenia">Contraseña:</label>
            <input type="password" class="form-control" id="contrasenia"
                   placeholder="e.g. ********" ng-model="newConsumer.contrasenia">
        </div>

         <input type="submit" class="btn btn-default" value="Registrarse" id="but-register">
    </form>
    </div>

    <!-- Modal error -->
    <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modalError">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title organicos-encode-sans" id="modalError">Vuelve a Intentarlo</h3>
                </div>
                <div class="modal-body">
                    <p ng-bind="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal-error">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>