<div class="container text-center organicos-index-section">
    <h2>Quejas y Reclamos</h2>
    <div class="col-md-12 text-center"><span class="badge bg-success" id="message">[[message]]</span></div>
    <div class="col-md-3"></div>
    <div class="col-md-6 text-left">
        <form name="formComplaint" ng-submit="sendComplaint()">
            <div class="form-group">
                <label for="subject">Asunto:</label>
                <input type="text" class="form-control" id="subject" placeholder="" ng-model="complaint.subject"
                       required>
            </div>
            <div class="form-group">
                <label for="observation">Su mensaje:</label>
                <textarea class="form-control" id="observation" placeholder="" ng-model="complaint.observation" rows="5"
                          required></textarea>
            </div>
            <div class="form-group">
                <label for="copy">Enviar copia:</label>
                <input type="checkbox" id="copy" placeholder="" ng-model="complaint.copy" checked>
            </div>
            <input type="submit" class="btn btn-default" id="sendComplaint" value="Enviar" id="but-register">
        </form>
    </div>
    <div class="col-md-3"></div>
</div>