@font-face {
  font-family: 'Remachine';
  src: url('../fonts/RemachineScript_Personal_Use.ttf');
}

@font-face {
  font-family: 'Buffalo';
  src: url('../fonts/BuffaloNickel.ttf');
}

@font-face {
  font-family: 'EncodeSansBold';
  src: url('../fonts/EncodeSansCondensed-Bold.ttf');
}

@font-face {
  font-family: 'EncodeSans';
  src: url('../fonts/EncodeSansCondensed-Medium.ttf');
}

p {
    font-family: EncodeSans;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 3rem;
    color: #ccc;
}

footer h3 {
    font-size: 4rem;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

footer a {
    margin: 0.5rem;
    color: #ccc !important;
    text-decoration: none;
}

footer a:hover {
    margin: 0.5rem;
    color: #eee !important;
    text-decoration: none;
    cursor: pointer;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.navbar {
    font-family: EncodeSans !important;
    font-size: 1.8rem;
}

.navbar-brand {
    margin-left: 1rem !important;
}

#organicos-index-bienvenida-container {
    background-image: url("/static/img/index-bienvenida.jpg");
    background-size: cover;
    height: 80rem;
}

#organicos-index-bienvenida-container div {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    margin-top: 15% !important;
    padding: 5rem;
    width: 40%;
    margin: 0 auto;
}

#organicos-index-bienvenida-container h1 {
    font-size: 12rem;
}

#organicos-index-bienvenida-container p {
    margin-bottom: 4rem;
    font-size: 2.2rem;
}

#organicos-index-bienvenida-container a {
    margin-top: 2rem;
    color: black;
    background-color: #C6DABF;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: EncodeSans;
    font-size: 2rem;
}

#organicos-index-bienvenida-container a:hover {
    background-color: #F3E9D2;
}

#organicos-index-productos-container {
    background-color: #F7F7F7;
    text-decoration: none;
}

#organicos-index-productos-container img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#organicos-img-small img {
    height: 50px;
    width: 50px;
}

#organicos-img-big img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#organicos-index-productos-container img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
	transform: scale(1.1);
}

#organicos-index-servicios-c-container h3,
#organicos-index-servicios-p-container h3 {
    font-family: EncodeSans;
    margin-bottom: 6rem;
}

#organicos-index-servicios-c-container h4,
#organicos-index-servicios-p-container h4 {
    font-family: EncodeSansBold;
    margin-top: 3rem;
}

.organicos-index-services-c-container {
    background-color: #C6DABF;
    height: 12rem;
    width: 12rem;
    padding-top: 15%;
    margin: 0 auto;
}

.organicos-index-services-p-container {
    background-color: #F3E9D2;
    height: 12rem;
    width: 12rem;
    padding-top: 15%;
    margin: 0 auto;
}

.organicos-index-productos-texto {
    background-color: white;
}

.organicos-index-productos-texto h3 {
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 2rem;
    font-family: EncodeSans;
}

.organicos-logo {
    font-family: Remachine;
}

.organicos-index-section {
    padding: 8rem 0;
}

.organicos-index-section h2 {
    font-family: Buffalo;
    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 7rem;
}

.organicos-right {
    float: right !important;
}

.organicos-left {
    float: left;
}

.organicos-encode-sans {
    font-family: EncodeSans;
}

.organicos-border {
    border: 0.1rem solid #DDD;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.navbar.organicos-logo {
    font-size: 5rem;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }