<!DOCTYPE html>

<html lang="en" ng-app="organicos">
<head>
    <meta charset="UTF-8">
    <title>Orgánicos</title>

    {# Cargar tag de librería #}
    {% load bootstrap3 %}
    {# Cargar CSS y JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Cargar archivos estáticos#}
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">


    <!-- Resources -->
    <script type="text/javascript" language="javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/angular-route.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/ng-table.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/math.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/aws-sdk-2.3.2.min.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'js/ui-bootstrap-tpls-1.3.2.min.js' %}"></script>


    <!-- Logic -->
    <script type="text/javascript" language="javascript" src="{% static 'app/app.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/ng-image-compress.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/ctrl_session.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/exampleController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryOfferItemController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/registerController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryOfferItemReportController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryOrderController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/querySummaryOrderController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryProductController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryBasketController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryProducersController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/queryFranjaController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/sendComplaintController.js' %}"></script>
</head>
<body>
<!-- Barra de navegación-->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="ctrl_session">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#inicio"><i class="fa fa-leaf"></i> Orgánicos</a>
        </div>
        <ul class="nav navbar-nav organicos-left">
            <li class="active"><a href="#inicio">Inicio</a></li>
            <li><a class="administrador" href="#productos" id="nav-products">Productos</a></li>
            <li><a class="administrador" href="#canastas" id="nav-canastas">Canastas</a></li>
            <li><a class="productor" href="#ofertas">Mis Ofertas</a></li>
            <li><a class="administrador" href="#reporte-ofertas" id="nav-offers-report">Reporte Ofertas</a></li>
            <li><a class="administrador" href="#productores">Productores</a></li>
            <li><a class="administrador" href="#franjas">Franjas pedidos</a></li>
            <li><a class="consumidor" href="#pedidos" id="nav-mis-pedidos">Mis Pedidos</a></li>
            <li><a class="consumidor" href="#complaints" id="nav-mis-pqr">Quejas y Reclamos</a></li>
            <li><a class="productor" href="#summary-pedidos">Reporte oferta de la semana</a></li>
        </ul>
        <ul class="nav navbar-nav organicos-right">
            <li class="" ng-show="!session.authenticated"><a href="/login_view" id="nav-login">Iniciar sesión</a></li>
            <li class="" ng-show="session.authenticated"><a id="btn-cerrar-sesion" ng-click="logout()">Cerrar sesión</a>
            </li>
            <li class=""><a href="#registro">Registrarse</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <!-- Content Views-->
    <div ng-view class="organicos-encode-sans"></div>

    <footer>
        <h3 class="organicos-logo"><i class="fa fa-leaf"></i> Orgánicos</h3>
        <p>Desarrollado por Grupo 1 Procesos Ágiles Uniandes 2016-10</p>
        <div>
            <a><i class="fa fa-facebook-square fa-2x"></i></a>
            <a><i class="fa fa-twitter-square fa-2x"></i></a>
        </div>
    </footer>
</div>
</body>
</html>